<div class="nav-item">
    <a href="/index.html">Home</a>
</div>
<div class="nav-item">
    <a href="https://github.com/ShahriyarShawon" target="_blank">GitHub</a>
</div>
<div class="nav-item">
    <a href="https://www.youtube.com/channel/UC6AgrsLgCqKQ39kHzLTo0mQ" target="_blank">YouTube</a>
</div>
<div class="nav-item">
    <a href="/portfolio.html" >My Portfolio</a>
</div>
<div class="nav-item">
    <a href="/static/currentResume.pdf" target="_blank">Resume</a>
</div>
<div class="nav-item">
    <a href="/guides/">Guides</a>
</div>

