{% extends 'template.html' %}

{% block head %}{% endblock head %}

{% block title %}Donate{% endblock title %}
{% block content %}

<h1>Donations</h1>
<ul>
    <li>
        <h2><a href="https://paypal.me/ShahriyarRulez?locale.x=en_US" target="_blank">PayPal</a></h2>
    </li>
    <li>
        <h2>XMR (Monero)</h2>
        <span id="xmr-address" class="wrap-text"><h4>41ozgoRdDdAHEt5Viyzk78YUudnVB1eK58jthqtzsRDuSxxswWewYHV42181ifhpRy9tYW6ZH1KxT9BKDuPysoY8F8mfWjK</h4></span>
        <br>
        <img src="/static/monero-wallet-qr.png" alt="">

    </li>
</ul>



{% endblock content %}
