{% extends 'template.html' %}

{% block head %}{% endblock head %}
{% block title %}Shay's Corner{% endblock title %}

{% block content %}
<div class="centered">
	<h3>Hi I'm Shahriyar and this is a space for me to use as a hub to show case things I find cool, make, or find useful</h3>
    <!-- <p class="welcome-text"><u>Hi I'm Shahriyar and welcome to...</u></p> -->
    <!-- <h1 class="index-title">Shay's Corner</h1> -->
</div>
<hr>

<h1>If you're looking to hire me</h1>
<p>
    Here is my <a href="/static/Shahriyar-Shawon-Resume.pdf" target="_blank">resume</a>
</p>

<h1>Who am I?</h1>
<ul>
    <li>🐉Senior @ Drexel University studying Computer Science</li>
    <li>👾Full stack Web Dev Co Op @ <a href='https://sig.com/' target='_blank'>SIG</a> (Sept 2023 - March 2024)</li>
    <li>👾Back-end Software Developer Co Op @ <a href='https://sig.com/' target='_blank'>SIG</a> (Sept 2022 - March 2023)</li>
    <li>👾Full Stack Web Dev Co Op @ <a href='https://sig.com/' target='_blank'>SIG</a> (Sept 2021 - August 2022)</li>
</ul>

<h1>Stuff I do:</h1>
<ul>
    <li>⚡️Tinker with Arduino/RPI</li>
    <li>💾Make software</li>
    <li>▶️Make YouTube tutorials on things I think I may need in the future</li>
</ul>

<h1>Other Stuff I like:</h1>
<ul>
	<li>🥋BJJ</li>
	<li>🎸Metal / Rock Music</li>
    <li>🏸Badminton and Ultimate</li> 
    <li>📝Linguistics (Mainly Etymology and Orthography)</li>
    <li>⏰History</li>
</ul>


<p>If you want to see what I use for computing or how I use it, head over to <a href="/stuffIUse.html">stuff I use</a></p>
<p>Go over to <a href="/musicILike.html">my music if you like metal and rock</a></p>

<p>Just use the navbar for anything else</p>


{% endblock content %}



