{% extends 'template.html' %}

{% block head %}{% endblock head %}
{% block title %}Shay's Corner{% endblock title %}



{% block content %}
<div class="centered">
    <p class="welcome-text"><u>Welcome to</u></p>
    <h1 class="index-title">Shahriyar Shawon's Website</h1>
    <img src="/static/anon_pepe.gif" class="anon_pepe" alt="">

</div>
<hr>

<h1>Stuff I do:</h1>
<ul>
    <li>IDK. Computer stuff I guess.</li>
    <li>I'm like a Uni Student now so that's cool</li>
    <li>I try to make youtube videos </li>
    
</ul>

<p>
    This site is here for me to share how I use my systems with other people.
    I'm gonna eventually look for a decent blogging solution so I can share some guides.
    I don't know how to easily do it on a static site to be patient.    
    I added a portfolio section as well because I wanna show off a bit.

</p>

<p>If you wanna see what I use for computing or how I use it, head over to <a href="/stuffIUse.html">stuff I use</a></p>
<p>Go over to <a href="/musicILike.html">my music if you like metal and rock</a></p>


<p><a href="/portfolio.html">My portfolio</a></p>
<p>Bro just use the menu button</p>
{% endblock content %}



