{% extends 'template.html' %}

{% block head %}{% endblock head %}
{% block title %}Shay's Corner{% endblock title %}



{% block content %}
<div class="centered">
    <p class="welcome-text"><u>Welcome to</u></p>
    <h1 class="index-title">Shahriyar Shawon's Website</h1>
    <img src="/static/anon_pepe.gif" class="anon_pepe" alt="">

</div>
<hr>

<h1>Who am I?</h1>
<ul>
    <li>Corporate Systems Software Engineer at Susquehanna International (Sept 2021)</li>
    <li>Sophomore @ Drexel University studying Computer Science</li>
    <li>Software Engineer (Still working on this one)</li>
</ul>

<h1>Stuff I do:</h1>
<ul>
    <li>Create servers with GNU/Linux (Minecraft servers and NAS)</li>
    <li>Tinker with Arduino</li>
    <li>Make software</li>
    <li>Make some YouTube videos on the stuff I work on</li>
</ul>

<h1>Other Stuff I like:</h1>
<ul>
    <li>Badminton and Ultimate are top tier sports</li> 
    <li>Linguistics (Mainly Etymology and Orthography)</li>
    <li>History</li>
</ul>

<p>If you're here to see if you should hire me, check out my <a href="/static/currentResume.pdf">resume</a></p>

<p>If you want to see what I use for computing or how I use it, head over to <a href="/stuffIUse.html">stuff I use</a></p>
<p>Go over to <a href="/musicILike.html">my music if you like metal and rock</a></p>

<p>Just use the navbar for anything else</p>


{% endblock content %}



