{% extends 'template.html' %}

{% block head %}{% endblock head %}
{% block title %}My Portfolio{% endblock title %}

{% block content %}
<h1>Stuff I've made or am working on</h1>
<h3>Completed:</h3>
<a href="https://fridgebyte.tech" target="_blank">FridgeByte</a>
<p>
    A service that's meant to curate recipes for a user
    with items that user already has in their pantry.
</p>


<a href="https://github.com/ShahriyarShawon/LOLComicGrabber" target="_blank">LOLComicGrabber</a>
<p>
    A python library and CLI tool that allows users to download comics off of the league 
    of legends website for offline use.
</p>
{% endblock content %}
