{% extends 'template.html' %}

{% block head %}{% endblock head %}

{% block nav %}{% endblock nav%}

{% block title %}College Tools{% endblock title %}

{% block content %}
<h1>Stuff I use for college as a Freshman CS Major</h1>

<h3>Cloud Storage, Office Suite, Notes, Reminders, Calendar</h3>
<h4>Default Google suite tools</h4>
<p>
    Drive, Docs, Keep Notes, and GCal all work perfectly fine. 
    Nothing fancy needed.
</p>

<h3>Password Manager</h3>
<h4>BitWarden</h4>
<p>
    App that stores all your passwords. Available on almost every platform.
    Hardly ever have to remember passwords anymore. 
    Very useful, highly recommend.

</p>

<h3>Web Browser</h3>
<h4>Brave</h4>
<p>
    Not a fan of google chrome but I still really like chromium based 
    browsers. It's got built in ad blocking and all the google chrome
    extensions cause it's chromium based. Has it's own way to sync 
    devices together.
</p>

<h3>Text Editor</h3>
<h4>VSCodium/vim</h4>
<p>
    VSCodium is like vscode but without all the MS telemetry.
    Vim is my go to for anytime I need to ssh into the school
    server for class assignments.
</p>

<h3>Laptop/Computer(s)</h3>
<h4>Thinkpad T430, MBP 13 2017</h4>
<p>
    98% of the time I use my Thinkpad but there are times when I don't 
    want to unplug it from my monitor and keyboard to bring into bed.
    It's like almost a decade old, but like we won't need to do any 
    heavy compilation or anything for my classes. I'm doing python now 
    and probably C, Java, and bash for next year. I do recommend using 
    a Linux Distro though, my Thinkpad runs Arch but you could use 
    literally any other distro.
</p>

<h3>SSH</h3>
<h4>I just use the ssh command</h4>
<p>
    Just about every OS/Distro should have ssh built in. 
    MacOS most likely has it and windows ships with Openssh now or something.
    Linux is a no brainer so yeah just know how to use ssh and scp and you're
    set.

</p>

<p class="note">
    P.S. Go look at the github student pack, they got some goodies if you 
    can provide them with a school email. :D
</p>

<hr>

<p>
    That's kinda it. You don't really need anything too fancy.
    Just free some cloud tools and a laptop is all I've needed so far.

</p>





{% endblock content %}
