{{ define "main" }}

<div class="centered">
	<h3>Hi I'm Shahriyar and this site holds my blog, resume, and a hub for stuff I find cool or interested</h3>
</div>
<hr>

<h1>Stuff I do:</h1>
<ul>
    <li>⚡️Tinker with Arduino/RPI</li>
    <li>💾Make software</li>
    <li>▶️Make YouTube tutorials on things I think I may need in the future</li>
</ul>

<h1>Other Stuff I like:</h1>
<ul>
	<li>🥋BJJ</li>
	<li>🎸Metal / Rock Music</li>
    <li>🏸Badminton and Ultimate</li> 
    <li>📝Linguistics (Mainly Etymology and Orthography)</li>
    <li>⏰History</li>
</ul>


<p>If you want to see what I use for computing or how I use it, head over to <a href="/stuffIUse.html">stuff I use</a></p>
<p>Go over to <a href="/musicILike.html">my music if you like metal and rock</a></p>

<p>Just use the navbar for anything else</p>

{{ end }}

