<nav id="navbar">
	{% for item in nav %}
		<a href="{{ item.url }}"
			{% if page.url == item.url %}class="active"{% endif %}
			{% if item.label == "About Me" %}target="_blank"{% endif %}>
			{{ item.label }}
		</a>
	{% endfor %}
</nav>
