{{ define "main" }}
<div class="centered">
  <h3>
    Hi I'm Shahriyar and this site serves as a sort of personal profile page for
    work I do or stuff I'm interested in
  </h3>
</div>
<hr />

<h3>
  Check out my blog, the
  <a href="https://rarecandymaster.com" target="_blank">RareCandyMaster Blog</a>
  where I make written versions of some of my YouTube tutorials, or technical
  writeups of projects I am in the process of doing or have done.
</h3>

<hr />

<h1>Stuff I do:</h1>
<ul>
  <li>☁️ Self-Host Media other Services</li>
  <li>⚡️ Tinker with Arduino/RPi</li>
  <li>💾 Make software</li>
  <li>▶️ Make YouTube tutorials on things I think I may need in the future</li>
</ul>

<h1>Other Stuff I like:</h1>
<ul>
  <li>🥋 BJJ</li>
  <li>🎸 Metal / Rock Music</li>
  <li>🏸 Badminton and Ultimate</li>
  <li>📝 Linguistics</li>
  <li>⏰ History</li>
</ul>

<p>
  If you want to see what I use for computing or how I use it, head over to
  <a href="/stuffiuse">stuff I use</a>
</p>
<p>
  Go over to <a href="musicilike">my music if you like metal and rock</a>
</p>

<p>Just use the navbar for anything else</p>

{{ end }}
