$bg-color: #272a34;
$accent-scarlet: #ff2400;
$accent-violet: #c957fa;
$accent-color: #277FFF;
$accent-light: #05a1f7;
$accent-emerald: #50c878;
$accent-lemon: #fff44f;

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

body {
    .active {
        display: block;
    }
    font-family: Inter;
    background-color: $bg-color;
    color:white;

        
    h1 {
        color: $accent-color;
        margin-bottom: 20px;
        
    }
    h2 {
        color: $accent-light;
    }
    h3 {
        color: $accent-emerald;
    }
    h4 {
        color: $accent-violet;
    }
    h2,h3,h4 {
        margin-bottom: 5px;

    }
    a {
        color: $accent-color;
    }
}

nav {
    padding-bottom: 20px;
    margin-top: 10px;
    

    .navbar-toggle {
        #hamburger {
            fill: $accent-color;
        }
        float: right;
        
    }
    
    #favicon {
        display: inline-block;
        width: 50px; 
    }
    ul {
        display:none;
        list-style-type: none;
        li {
            text-align: center;
            margin: 15px auto;
            
            a {
                text-decoration: none;
                font-size: 1.5em;
                padding: 5px;

                
            }
            a:hover {
                color:$bg-color;
                background-color: $accent-light;
                
            }
        }
    }
}

#warning {
    color: $accent-scarlet;
}
.note {
    color: $accent-lemon;
}
.main-content {

    .centered {
        text-align: center;
    }

    margin: 0 20px 20px 20px;
    li {
        line-height: 2em;
        margin-left: 20px;
    }
    p {
        line-height: 1.5em;
        margin-bottom: 10px;
    }
}

.entry-item {
    margin-bottom: 10px;
    strong {
        color: $accent-emerald;
    }
}

.anon_pepe {
    width: 200px;
    height: auto;
}


@media only screen and (min-width: 900px) {
    .main-content{
        width: 60vw;
        margin: 0 auto;
    }
    
    
}