{% extends 'template.html' %}

{% block head %}{% endblock head %}
{% block title %}Guides{% endblock title %}
{% block nav %}
<div class="nav-item">
    <a target="_blank" href="/index.html">Home</a>
</div>

{% endblock nav%}
{% block content %}
<h1>Here's some guides I wrote</h1>
<p>Most of these are for myself and only include issues I encountered.
    Keep this in mind while browsing.
</p>
<a href="/guides/college_tools.html">
    <h3>Stuff I Use in/for college</h3>
</a>
{% endblock content %}
